@import url(./__button/popup__button.css);
@import url(./__close/popup__close.css);
@import url(./__container/popup__container.css);
@import url(./__form/popup__form.css);
@import url(./__section/popup__section.css);
@import url(./__tittle/popup__tittle.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__image-picture/popup__image-picture.css);
@import url(./__image-text/popup__image-text.css);
.popup {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    /*трай*/
    transition: opacity 1s ease-out;
    opacity: 0;
    visibility: hidden;
}