.poup-image__close {
    position: absolute;
    top: -50px;
    right: -47px;
    cursor: pointer;
    background-image: url(../../../images/Close_Icon.svg);
    background-color: transparent;
    height: 50px;
    width: 50px;
    border: none;
}

.poup-image__close:hover {
    opacity: 0.6;
}