.popup__container {
    border-radius: 10px;
    max-width: 430px;
    min-height: 330px;
    box-sizing: border-box;
    position: relative;
    padding: 34px;
    background-color: #FFF;
    width: 68%
}