.profile {
    display: flex;
    align-items: center;
    max-width: 882px;
    min-height: 120px;
    margin: auto;
    padding-top: 40px;
}

@media screen and (max-width :1024px) {
    .profile {
        max-width: 682px;
    }
}