.user__paperdol {
    max-width: 364;
    margin-left: 36px;
    max-height: 77px;
}

@media screen and (max-width: 767px) {
    .user__paperdol {
        margin-left: 0px;
        align-items: center;
    }
}