.poup__container {
    border-radius: 10px;
    max-width: 430px;
    min-height: 330px;
    box-sizing: border-box;
    position: relative;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: #FFF;
    width: 68%
}