@import url(./__logo/header__logo.css);
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a5a5a5;
    min-height: 74px;
    max-width: 882px;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 40px;
}

@media screen and (max-width :1024px) {
    .header {
        max-width: 682px;
    }
}

@media screen and (max-width :767px) {
    .header {
        width: 90%;
    }
}

@media screen and (max-width :320px) {
    .header {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 15px;
    }
}