@import url(./__avatar/user__avatar.css);
@import url(./__paperdol/user__paperdol.css);
@import url(./__place-button/user__place-button.css);
@import url(./__edit/user__edit.css);
@import url(./__subtittle/user__subtittle.css);
@import url(./__edit-nickname/user__edit-nickname.css);
@import url(./__nickname/user__nickname.css);
@import url(./__pen-button/user__pen-button.css);
@import url(./__plus-icon/user__plus-icon.css);
.user {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-around;
    color: #FFF;
    width: 100%;
    margin-bottom: 47px;
}

@media screen and (max-width :767px) {
    .user {
        flex-direction: column;
        align-items: center;
    }
}