.popup__tittle {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

@media screen and (max-width:380px) {
    .popup__tittle {
        font-size: 19px;
    }
}