@import url(./_active/card__like_active.css);
.card__like {
    background-image: url(../../../images/like.svg);
    border: none;
    width: 21px;
    height: 19px;
    background-color: transparent;
    cursor: pointer
}

.card__like:hover {
    opacity: 0.6;
}