.footer {
    max-width: 882px;
    max-height: 18px;
    margin: auto;
    padding-top: 60px;
    display: flex;
}

@media screen and (max-width :1024px) {
    .footer {
        max-width: 682px;
    }
}

@media screen and (max-width :767px) {
    .footer {
        max-width: 90%;
    }
}