.card__delete {
    right: 10px;
    top: 10px;
    width: 18px;
    height: 19px;
    position: absolute;
    background: url(../../../images/delete.svg);
    border: none;
}

.card__delete:hover {
    opacity: 0.6;
}