.popup__section {
    width: 100%;
    height: 28px;
    border: 0;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    line-height: 17px;
}

.popup__section:last-of-type {
    margin-top: 30px;
}